<html>
    <head>
        <title>Bellesisles</title>
    </head>
    <body>
        <div>
            <h1><a href="">Cybertexte</a></h1>
        </div>

        <div>
            <p>Publication: 21.11.2016, 22:19</p>
            <h2><a href="">Ma première publication</a></h2>
            <p>Dalida hurle ses conseils à Bambino pendant que dans le grand carré de sable de la cour arrière du 31, rue Monseigneur-Bluteau, s’active une ribambelle de bambins heureux.</p>
        </div>

        <div>
            <p>Publication: 21.11.2016, 22:26</p>
            <h2><a href="">Ma deuxième publication</a></h2>
            <p>Esther dans son petit parc dont le côté auquel il manque un barreau est appuyé contre le parapet du porche s’est encore un fois échappée après avoir manœuvré pour que le parc se déplace.</p>
        </div>
    </body>
</html>